@font-face {
    font-family: Norse-bold;
    src: url(../fonts/Norse-Bold.otf);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
}

.odin {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.5;
    color: white;
    font-family: Norse-bold;
    margin-top: 40%;
    margin-bottom: auto;
    display: flex;
}

.odin > * {
    margin: auto;
    opacity: none;
}

.odin > h2 {
    margin-left: 0%;
    font-size: 6rem;
}

.odin > img {
    width: 20%;
    height: 20%;
    margin-right: 0%;
}

.img_background {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
}

.leaf_img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.img_src {
    position: absolute;
    font-size: 0.75rem;
    margin-top: 140%;
    margin-bottom: 0%;
    margin-left: 25%;
    margin-right: 25%;
    color: white;
}

.form_section {
    flex: 2;
    background-color: #F9FAFB;
}

.quote {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 15%;
    font-size: 1.25rem;
    font-family: Norse-bold;
}

.input {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input > legend {
    font-size: 2rem;
    font-family: Norse-bold;
}


#user_register {
    display: flex;
    flex-direction: column;
}

#user_register > * {
    display: flex;
    flex-direction: row;
}

#user_register > div > div {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    font-size: 1.25rem;
    font-family: Norse-bold;
}

#user_register > .row3 > div {
    margin-bottom: 2.5%;
}

input {
    border-radius: 5px;
    border: 2px solid #E5E7EB;
}

input:focus {
    border: 2px solid pink;
}

input:focus:valid {
    border: 2px solid green;

}

input:focus:invalid {
    border: 2px solid red;
}

.val_err_msg {
    margin-top: 2.5%;
    margin-bottom: 0%;
    color: red;
    font-size: 0.75rem;
    font-family: Norse-bold;
    display: none;
}
